body{
    font-family: Arial, sans-serif;
}
nav{
    width: 100%;
    height: 60px;
    background: #207ce5;
    }

.logo{
    color: #fff;
    font-size: 30px;
    line-height: 60px;
    padding-left: 360px;
    float: left;
} 
    
.menu{
    float: left;
    padding-left: 420px;
    
} 
    
.menu li{
    float: left;
    line-height: 60px;
    color: #fff;
    margin-right: 40px;
    font-size: 16px;
    text-transform: uppercase;
    
}   .main{
    width: 100%;
    height: calc(100% - 60px);
    background: url(../img/1613276792_3-p-sinii-fon-poligonalnii-3.jpg);
    background-repeat: no-repeat;
}
.title__container{
    float: left;
    text-align: center;
    margin: 300px 0px 0px 600px;
    color: #6d3fa6;
    
}
.title__container h1{
    font-size: 100px;
    font-weight: bold;
    font-family: 'Christmas ScriptC';
    src: local('Christmas ScriptC'), local('ChristmasScriptC'), url('christmasscriptc.woff2') format('woff2'), url('christmasscriptc.woff') format('woff'), url('christmasscriptc.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    
    
}
.title__container h4{
    margin-top: 40px;
    font-size: 30px;
    color: #4a1091;
    font-family: 'Christmas ScriptC';
    src: local('Christmas ScriptC'), local('ChristmasScriptC'), url('christmasscriptc.woff2') format('woff2'), url('christmasscriptc.woff') format('woff'), url('christmasscriptc.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    
}
.title__container input{
    height: 40px;
    text-align: center;
    border: 3px solid #211530;
    background: none;
    border-radius: 5px;
    color: #211530;
    font-size: 15px;
    padding: 0px 10px;
    margin: 50px 14px 0px 14px;
    font-family: 'Christmas ScriptC';
    src: local('Christmas ScriptC'), local('ChristmasScriptC'), url('christmasscriptc.woff2') format('woff2'), url('christmasscriptc.woff') format('woff'), url('christmasscriptc.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    
   
  
}

 .about_me{
  font-size: 30px;
  text-align: center; 
}

.about_me0{
  margin-top: 40px;
  padding-left: 10px; 
  width: 300px;
  font-size: 20px;
  text-align: center;

}
.about_me1{
  margin-top: 40px;
  padding-left: 100px;
  margin-top: 40px; 
  width: 300px;
  font-size: 20px;  
}    

.about_me3{
  margin-top: 500px;
  padding-left: 900px; 
  width: 300px;
  font-size: 40px;
    
}
.about_me4{
  font-size: 30px;
  margin-top: 200px;
  text-align: center;
    }

.about_me5{
  margin-top: 40px;
  padding-left: 220px; 
  width: 300px;
  font-size: 25px;
  text-align: center;

}
.about_me6{
  margin-top: 800px;
  padding-left: 800px; 
  width: px;
  font-size: 40px;
}

.about_me7{
  padding-left: 930px;  
  margin-top: 60px;  
}
        


.example-string1{
 font-size: 20px;
 margin-top: 400px; 
 text-align: center;
    
    
}

.Mydiv{
   margin-top: 50px;
   padding-left: 360px;
   float: left;
   width;
   text-align: center;
   font-size: 30px;
}


.Mydiv1{
    margin-top: 40px;
    height: 300px;
    float: left;
    width;
    text-align: center;
    padding-left: 150px;
    
}
.Mydiv2{
  background: url(../img/3333.jpg); 
    font-family: 'Christmas ScriptC';
    src: local('Christmas ScriptC'), local('ChristmasScriptC'), url('christmasscriptc.woff2') format('woff2'), url('christmasscriptc.woff') format('woff'), url('christmasscriptc.ttf') format('truetype');
}
.Mydiv3{
   background: url(../img/394.jpg);
    
}